.card {
    box-shadow: 10px 10px 5px grey;
    height:100px; 
    cursor:pointer;
    text-align: center;
}
.card-clicked {
    box-shadow: 0;
    height:100px; 
    cursor:pointer;
    text-align: center;
}